@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --footer-background: #9e9e9e;

  --color-primary: #111827;
  --color-secondary: #ff4100;
  --color-error: #dc2626;
  --text-primary: #111827;
  --text-secondary: #ff4100;
  --text-muted: #959595;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --color-primary: #9ca3af;
    --color-secondary: #ff4100;
    --color-error: #f87171;
    --text-primary: #9ca3af;
    --text-secondary: #ff4100;
    --text-muted: #959595;
  }
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
}
